:host {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-image: url("/backimg.png");
}
.header{
    margin-top: 0.5em;
}
.loginbtn{
    color: rgb(0, 55, 235);
    margin: 2rem;
}
.login {
    background-color: white;
    text-align: center;
    border: 1px black solid;
    border-radius: 1em;
    width: 25vw;
    height: 42vh;
}

.btn {
    text-align: center;
    height: 10vh;
    a{
        color: gray;
    }
}

